<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Criar Aluno</title>
</head>
<body>
  <h1>Criar Aluno</h1>
  <form action="/alunos/create" method="POST">
    <label>Nome: <input type="text" name="nome" required></label><br>
    <label>Idade: <input type="number" name="idade" required></label><br>
    <button type="submit">Salvar</button>
  </form>  
  <a href="/alunos">Voltar à lista</a>
</body>
</html>
