<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
    <h1>Alunos</h1>
    <a href="/alunos/create">Adicionar Aluno</a>
    <ul>
        <% if (Array.isArray(alunos) && alunos.length > 0) { %>
            <% alunos.forEach(aluno => { %>
                <li>
                    <strong>Nome:</strong> <%= aluno.nome %> |
                    <strong>Idade:</strong> <%= aluno.idade %> |
                    
            <% }) %>
        <% } else { %>
            <li>Nenhum aluno cadastrado</li>
        <% } %>
    </ul>
</body>
</html>

