<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Criar Usuário</title>
</head>
<body>
  <h1>Criar Usuário</h1>

 <form action="/usuarios/create" method="POST">
    <label>Nome: <input type="text" name="nome" required></label><br>
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Senha: <input type="password" name="senha" required></label><br>
    <button type="submit">Salvar</button>
  </form>

  <br>
  <a href="/usuarios">Voltar</a>
</body>
</html>
