<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Lista de Usuários</title>
</head>
<body>
  <h1>Usuários</h1>

  <a href="/usuarios/create">Criar Usuário</a>
  <br><br>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
    </tr>

    <% usuarios.forEach(usuario => { %>
      <tr>
        <td><%= usuario.id %></td>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td>
        
        </td>
      </tr>
    <% }) %>
  </table>

  <br>
  <a href="/">Voltar</a>
</body>
</html>
